input {
	&[type=button],
	&[type=submit],
	&[type=reset] {
		cursor: pointer;
		border: none;
		padding: 0;
	}
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
::-webkit-file-upload-button {
	-webkit-appearance: button;
}

::-webkit-file-upload-button { font: inherit; }